body{
    background-image: linear-gradient(#fff, #b3d6fd);
}

header img {
    width: 100%;
    height: auto;
    max-width: 500px;
}
nav {
    border-top: solid 0.3em #000000;
    border-radius: 1.0em;
    border-bottom: solid 0.3em #000000;
    margin-bottom: 1em;
}

nav ul li{
    list-style-type: none;
}

main {
   
    border-top: solid 0.3em #000000;
    border-radius: 1.0em;
    border-bottom: solid 0.3em #000000;
    margin-bottom: 1em;

}

footer{
    
    border-top: solid 0.3em #000000;
    border-radius: 1.0em;
    border-bottom: solid 0.3em #000000;
}