body{
    background-image: linear-gradient(#fff, #b3d6fd);
}

header img {
    width: 100%;
    height: auto;
    max-width: 500px;
}
nav {
    background-color: white;
    border-top: solid 0.3em #000000;
    border-radius: 1.0em;
    border-bottom: solid 0.3em #000000;
    margin-bottom: 1em;
    font-weight: bold;
    text-align: center;
}

nav ul li{
    list-style-type: none;
    background-color: #000000;
    padding: 1em;
    min-width: 12%;
    margin: .25em;
    
}

main {
    background-color: white;

    border-top: solid 0.3em #000000;
    border-radius: 1.0em;
    border-bottom: solid 0.3em #000000;
    margin-bottom: 1em;

}

footer{
    
    background-color: white;
    border-top: solid 0.3em #000000;
    border-radius: 1.0em;
    border-bottom: solid 0.3em #000000;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
/* Begin Mobile screen */
@media screen and (max-width: 640px){
    nav ul li{
        border-radius: 1em;
        
        

    }
    
}
/* End Mobile screen */

/* Begin Tablet screen */
@media screen and (min-width: 641px){
    nav ul li{
        border-radius: 1em;
        display: inline-block;
        
        

    }
    
}
/* End Tablet screen */

/* Begin desktop screen */
@media screen and (min-width: 961px){
   
    header{
       text-align: left; 
    }
    header img{
        width: auto;
        height: 5em;
    }

   nav {
    float: right;
    margin-top: -5.9em; 
    width: 60%;
   }
   nav ul li{
    border-radius: 1em;
    display: inline-block;
        

}
    
}
/* End desktop screen */